.App {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.Title img {
    max-width: 40px;
    margin-right: 10px;
}
.Half {
    width: 100%;
}

@media(min-width: 800px) {
    .Half {
        width: 50%;
    }
}